
Master.Rmd
Working.Rmd
test_values_12df.csv
test_values_1df.csv
test_values_24df.csv
test_values_3df.csv
test_values_6df.csv
train_values_12df.csv
train_values_1df.csv
train_values_24df.csv
train_values_3df.csv
train_values_6df.csv
Lee_Working.Rmd
Stepwise_Averages.csv
~$Gatliffe-Panter-Zhang.pptx
~$Lees_Slides.pptx
